* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 50px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo-img {
    width: 50px;
}

.header-buttons .btn {
    margin-left: 15px;
    padding: 10px;
    border: none;
    background-color: white;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
}

.header-buttons .title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.thankyou-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.thankyou-message h1 {
    font-size: 3rem;
    color: #42dad0; 
    margin-bottom: 20px;
}

.thankyou-message p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 40px;
}

.back-to-support-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
}

.back-to-home-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.back-to-support-btn:hover {
    background-color: #c7c7c7;
}

.back-to-home-btn:hover {
    background-color: #494949;
}